html
body 
    font-size 14px
    line-height 1.4
    background #fff
    font-family $fontDefault
    color #000
    background #ffffff
    -webkit-font-smoothing antialiased
    
    &.__videobg
        background #c6c6c6
        
ul
p 
    margin 0
    padding 0

ul 
    list-style-type none
    
h1
h2
h3 
h4 
    margin 0
    padding 0
    font-weight normal

blockquote 
    margin 0
    padding 0

a:link
a:hover
a:visited
a:active 
    text-decoration none


p 
    color inherit
    
*
    box-sizing border-box

a.href    
    href()
