footer 
    padding-left 20px
    padding-right 20px
    padding-bottom 50px
    @media (min-width $screen-md)
        padding-left 50px
        padding-right 50px
        display none
        
aside 
    @media (min-width $screen-md)
        position fixed
        width 25%
        padding-left 5%
        top 0 
        bottom 0
        left 0
        z-index 10
        background #efefef
    
    .__home &
        background-color transparent    
    
    .__videobg &
        background-color transparent    
    
    footer 
        display none
        padding-left 0
        
        @media (max-width $screen-md-max)  
            position absolute
            bottom 35px
              
        @media (min-width $screen-md)  
            display block  
            padding-top 10px  

        @media (min-width $screen-lg)   
            padding-top 70px  
    
main 
    
    padding-bottom 60px
    padding-top 50px
    
    @media (min-width $screen-md)  
        padding-top 109px  
    
    @media (min-width $screen-lg)  
        padding-top 142px
        padding-bottom 100px   
    
    &.__blue
        background $color_blue
        color #fff
        @media (max-width $screen-sm-max)
            padding-top 60px
            margin-top -60px
            margin-bottom 30px
        
               
        

header 
    padding-top 35px
    @media (max-width $screen-sm-max)
        padding-left 20px
        padding-right 20px
        

  
            