percentage($decimal)
    ( $decimal * 100 ) %
 
clearfix()
    &:after 
        content ""
        display table
        clear both       

href($color = $color_blue, $border = #ccc)        
    color $color
    border-bottom 1px solid $border 
    transition all 200ms ease 
    
    &:hover
        opacity .7    
            
large-break($padding = 200px)      
    $lbreak = round($padding * 100 / 21)
    @media(min-width $lbreak)
        padding-left $padding