.afisha
    make-md-column(6)
    make-md-column-offset(5)
    
.afisha-promo 
    margin-bottom 70px
    make-sm-column(6)
    @media (max-width $screen-sm-max)
        padding-left 60px
        
    &__time
        border-bottom 2px solid #000
        padding-bottom 5px
        margin-bottom 18px 
        .__blue &
            border-bottom 2px solid #fff
        clearfix()  
        p
            font-size 16px
            line-height 25px
            font-weight bold
            float right 
            &:first-child
                float left 
    &__title
        font-size 16px
        line-height 25px  
        font-family $fontSmall     
        
        ^[0].__large &
            font-size 42px
            line-height 50px
            font-family $fontDefault
       
             