.contacts 
    
    &__label 
        color #1d1d1b
        text-transform uppercase 
        font-size 14px 
        font-weight bold
        margin-bottom 20px
    
    &__line 
        font-size 13px 
        line-height 19px 
        font-family $fontSmall
        
        a 
            href()
            
                