.home-promo
    make-md-column(8)
    make-md-column-offset(3)

.home-projects
    make-row()    
    margin-top -139px
    &__preview
        make-md-column(3)
        make-md-column-offset(7)
        font-size 0
        img
            width 100%
    &__title
        make-md-column(2)
  