.lang 
    display none
    text-transform uppercase
    
    a
        font-weight bold
        href()
    
    @media (min-width $screen-md)
        display inline-block
        padding-left 153px
        margin-bottom 30px  
    
    @media (min-width $screen-lg)
        padding-left 200px    
        margin-bottom 55px 
    