.logo
    display inline-block
    background-repeat no-repeat
    transition width 200ms ease, height 200ms ease
    background-size cover
    background-image url('../images/short-logo.png')
    width 96px
    height 96px

    
    @media (min-width $screen-md)
        background-image url('../images/logo.png')
        width 370px
        height 95px
        margin-bottom 30px
        padding-left 0
    
    @media (min-width $screen-lg)
        width 482px
        height 125px
        margin-bottom 55px
        padding-left 0    
        