.menu 
    position relative
    z-index 10
    
    @media (min-width $screen-sm)
        padding-left 153px
   
    @media (min-width $screen-lg)
        padding-left 200px     
    
    @media (max-width $screen-sm-max)
        position absolute
        top 35px
        right 20px
    
    &__content 
        display none
        @media (min-width $screen-md)
            display block
    
    &__item 
        margin-bottom 24px
        @media (min-width $screen-lg)
            margin-bottom 35px
      
        a
            href()
            font-size 28px
            line-height 28px
            font-weight bold
            text-transform uppercase
            
            span
                letter-spacing 5px
                margin-right -6px
            
            
            @media (min-width $screen-lg)
                font-size 42px
                line-height 42px
        
        &.__active 
            a 
                color #000   

.menu-span
    cursor pointer
    transition all 200ms ease
    
    @media (min-width $screen-md)
        display none
    
    span 
        display block
        width 25px
        height 4px
        background $color_blue 
        margin-bottom 4px
    
    &:hover 
        opacity .7    
                         