.news 
    make-md-column(6)
    make-md-column-offset(5)
    
    &:first-child
        .news-thumb
            make-xs-column(12)
            margin-bottom 50px
            &__title 
                font-size 42px
                line-height 50px
                font-family $fontDefault

.news-thumb 
    make-xs-column(6)  
    make-sm-column(4)  
    margin-bottom 40px
    
    @media (max-width $screen-xs-max)
        &:nth-child(2n+1)
            clear both
    
    @media (min-width $screen-sm)
        &:nth-child(4n)
            clear both       
    

    
    &__date
        font-size 17px
        line-height 23px
        font-weight bold
        border-bottom 2px solid #efefef
        padding-bottom 10px
        margin-bottom 20px
        
        ^[0].__black &
            border-bottom 2px solid #000
    
    &__title
        font-size 15px
        line-height 23px
        href() 
        font-family $fontSmall