.page-title
   
    padding-bottom 45px
    text-align center
    transform-origin center center
    
    make-md-column(4) 
    make-md-column-offset(8)
    
    @media (min-width $screen-md)
        padding-bottom 85px
        text-align left
    
    @media (min-width $screen-lg)
        padding-bottom 132px
    
    & > * 
        display inline-block
        font-size 14px
        font-weight bold
        transform rotate(-90deg)
        transform-origin center center
        text-transform uppercase
        @media (min-width $screen-sm)
            transform-origin top left

.page-split
    text-align center
    margin-top 100px
    margin-bottom 100px
    
    make-md-column(4) 
    make-md-column-offset(8)
    
    @media (min-width $screen-md)
        text-align left
        margin-top 150px
        margin-bottom 70px
    
    & > * 
        display inline-block
        font-size 14px
        font-weight bold
        transform rotate(-90deg)
        text-transform uppercase
        transform-origin center center
        
        @media (min-width $screen-sm)
            transform-origin top left
            

.page-text  
    padding-left 20px
    padding-right 20px
    @media (max-width $screen-md-max)
        padding-left 55px
        
    make-md-column(6)
    make-md-column-offset(5)   


.page-gallery
    
    make-md-column(8)
    make-md-column-offset(4) 
    
    @media (max-width $screen-md-min)
        padding-left 0
        padding-right 0
    
    img 
        width 100%

.page-text + .page-gallery
    padding-top 45px   
    padding-bottom 50px
    @media (min-width $screen-md)
        padding-top 100px
        padding-bottom 100px

.project + .page-gallery
    padding-top 30px
    padding-bottom 50px
    @media (min-width $screen-md)
        padding-top 50px
        padding-bottom 100px
             
             
        
        