.people 
    
    make-md-column(8)
    make-md-column-offset(4)

    padding-bottom 40px

.people-thumb
    make-xs-column(6)
    make-sm-column(4)
    make-md-column(3)  
    padding-bottom 40px  
    transition opacity 200ms ease
    
    &:hover 
        opacity .7
    
    &__image 
        display block
        margin-bottom 20px
        img 
            width 100%
        
    &__name
        font-size 25px
        line-height 23px
        display inline-block
        margin-bottom 5px
        href()
    
    &__position
        display block
        font-size 15px
        line-height 18px    
        color #000
        font-family $fontSmall

.person
    make-md-column(3)        
    make-md-column-offset(9)
    
    @media (min-width $screen-md)  
        padding-top 10px  
        margin-top 385px

    @media (min-width $screen-lg)   
        padding-top 70px  
    
    &__name 
        position relative
        z-index 10
        font-size 21px
        line-height 25px
        font-weight bold
    
    &__position
        position relative
        z-index 10
        font-size 14px
        line-height 21px
        font-family $fontSmall    
    
    &__video
        width 100%
        @media (min-width $screen-md)
            position fixed
            bottom 0
            left 0
            width 100%
            height auto
            
