.projects 
    make-md-column(6)
    make-md-column-offset(5)
    margin-top -42px
    padding-left 40px
   
    @media(min-width $screen-sm)
        display table
        margin-top -55px
        padding-left 0px
    
    & + & 
        margin-top 0

.project
    make-md-column(6)
    make-md-column-offset(5)    
    &__title
        font-size 60px
        line-height 68px
        font-weight bold   
        text-transform uppercase  
        span 
            display block
            font-size 14px
            font-weight normal
            text-transform none
    
    &-roles 
        margin-bottom 20px
        margin-top 20px
        make-sm-column(6)
        @media(min-width $screen-sm)
            margin-top 50px
        @media(min-width $screen-md)
            margin-top 90px    
    
    &-person 
        margin-bottom 50px
        
        &__label 
            font-size 16px
            line-height 25px
            border-bottom 2px solid #000
            margin-bottom 18px
            font-weight bold
            padding-bottom 5px
        &__item
            margin-bottom 4px
            font-family $fontSmall
            a, p
                font-size 16px
                line-height 25px
            a 
                href()
    
    &-ticket
        make-sm-column(6)
        margin-bottom 20px
        @media(min-width $screen-sm)
            margin-bottom 50px
        &__time
            clearfix()
            border-bottom 2px solid #000
            padding-bottom 5px
            margin-bottom 18px
            p
                font-size 16px
                line-height 25px
                font-weight bold
                float right 
                &:first-child
                    float left
        &__buy             
            text-transform uppercase 
            href()
            font-size 16px
            line-height 25px
            font-weight bold
                 
                   

.project-thumb
    display block
    padding-top 42px
    position relative
    padding-bottom 30px
    padding-left: 20px
    padding-right 20px
    vertical-align top
    transition opacity 200ms ease
    
    @media(min-width $screen-sm)
        display table-cell
        border-bottom none
        padding-top 55px
    
    &:hover 
        opacity .7
    
    &:not(.__large)
        
        @media(min-width $screen-sm)
            width 50%
        
        &:after
            display block
            border-bottom 2px solid #000
            content ''
            position absolute
            bottom 0
            left 20px
            right 20px
            
    &__content
        
        ^[0].__large &
            @media(min-width $screen-sm)
                display table-cell
                padding-left 20px
                width 50%
                vertical-align top
                position relative
                
            &:after
                display block
                border-bottom 2px solid #000
                content ''
                position absolute
                bottom 0
                left 20px
                right 20px
                @media(min-width $screen-sm)
                    right 0px
    
    &__image 
        margin-bottom 20px
        display block
        font-size 0
        @media(min-width $screen-sm)
            margin-bottom 20px
        
        img
            width 100%
            height auto
        
        ^[0].__large &
            @media(min-width $screen-sm)
                display table-cell
                padding-right 20px
                width 50%
        
    &__title 
        font-size 25px
        line-height 33px
        margin-bottom 25px
        display block
        
        span 
            href()
        @media(min-width $screen-sm)
            margin-bottom 80px
    
    &__description
        font-size 15px
        line-height 23px  
        display block
        color #000
        font-family $fontSmall
        
        ^[0].__large &
            @media(min-width $screen-sm)
                position absolute
                bottom 30px
    
    &.__large
        border-bottom none 

        