.publications 
    make-md-column(6)
    make-md-column-offset(5)
   
    padding-left 40px
    @media(min-width $screen-sm)
        display table
        padding-left 0px
        
    &:first-child
        margin-top -50px

.publication    
    padding-left: 20px
    padding-right 20px
    position relative
    font-family $fontSmall
    
    &:after
        display block
        border-bottom 2px solid #000
        content ''
        position absolute
        bottom 0
        left 20px
        right 20px
        
    @media(min-width $screen-sm)
        width 50%
        &:not(.__single)
            display table-cell
            vertical-align top
            

    &__source
        font-size 14px
        line-height 23px
        padding-top 50px
        padding-bottom 20px
    &__title
        padding-bottom 30px
        
        a 
            href()    
            font-size 16px
            line-height 25px