.raw 
    
    p 
        font-size 16px
        line-height 27px  
        
        @media (min-width $screen-md)
            font-size 19px
            line-height 29px
    
    p + p 
        margin-top 20px        