doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        
        title Stadia
        
        meta(name='title', content='@meta-title')
        meta(name='description', content='@meta-description')
        meta(name='keywords', content='@meta-keywords')

        link(href='https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css')
        link(rel='stylesheet', href='css/app.css')

    block vars
    body(class="#{videobg}")
        block content
        script(src='js/app.js')