extends _base.jade

block content
    
    
    aside
        
        header
            .lang
                a(href="#") Latviski
            a.logo(href="#" alt="stadia")

            nav.menu
                .menu-span
                    span
                    span
                    span
                .menu__content        
                    .menu__item.__active
                        a(href="#") 
                            span Это
                    .menu__item
                        a(href="#") 
                            span Люди           
                    .menu__item
                        a(href="#") 
                            span Проекты          
                    .menu__item
                        a(href="#") 
                            span Неформат       
                    .menu__item
                        a(href="#") 
                            span Афиша      

        footer
            .contacts 
                p.contacts__label Контакты
                p.contacts__line Стабу 18 LV-1045 Рига
                br
                p.contacts__line +371 26-450-819
                p.contacts__line 
                    a(href="#") look@stadia.lv
                    

    block vars
    main(class="#{bg}")
        .container 
            block inner  

    footer
        .contacts 
            p.contacts__label Контакты
            p.contacts__line Стабу 18 LV-1045 Рига
            br
            p.contacts__line +371 26-450-819
            p.contacts__line 
                a(href="#") look@stadia.lv            