extends ./layouts/_inner.jade

block inner
    
    .row
        .page-title
            p Это
    
    .row
        .page-text
            .raw
                p.
                    Открытое сообщество людей и объединение авторских проектов в сфере культуры, искусства, образования и медиа. Это свободное пространство для творческого развития и площадка для самореализации. Место поиска новых идей, форм, историй и героев – как пути к познанию себя.       
        
        .page-gallery
            img(src="http://www.stadia.lv/img/04.jpg")

        .page-text
            .raw 
                p.
                    В разные годы Stadia имелa успех пьесы многих талантливых драматургов, среди них Юрий Клавдиев, Герман Греков, Иван Вырыпаев, Михаил Угаров, Павел Пряжко, Жоэля Помра и других.

                p.
                    У нас получилось создать эффективную модель управления и функционирования в городской среде. Основатель театра, Эдуард Бояков, предложил России продюсерский подход к театральному делу: каждый спектакль — отдельный проект. Для всякой новой постановки подбирается подходящая команда, и это позволяет предлагать зрителю совершенно разные спектакли.           