

extends ./layouts/_inner.jade

block vars
    - var bg = '__blue'

block inner
    
    .row
        .page-title
            p Афиша        

    .row
        .afisha   
            .row       
                .afisha-promo.__large
                    .afisha-promo__time
                        p 09.01
                        p 19:00
                    p.afisha-promo__title Юбилейная «сказка, которая не была написана»
    .row
        .afisha
            .row
                .afisha-promo
                    .afisha-promo__time
                        p 16.01
                        p 12:00
                    p.afisha-promo__title Юбилейная «сказка, которая не была написана»    

                .afisha-promo
                    .afisha-promo__time
                        p
                        p 17:00
                    p.afisha-promo__title Юбилейная «сказка, которая не была написана»      

                .afisha-promo
                    .afisha-promo__time
                        p
                        p 19:00
                    p.afisha-promo__title Юбилейная «сказка, которая не была написана»       