extends ./layouts/_inner.jade

block vars
    - var videobg = '__home'

block inner
    .home-projects
        .home-projects__preview
            img(src="http://placehold.it/262x196")
        .home-projects__title
            a(href="#") Открытый театр
            
    .home-pro
    .home-promo
        img(src="http://placehold.it/760x430")