extends ./layouts/_inner.jade

block inner
    
    .row
        .page-title
            p Неформат

    .row
        .news        
            .row
                .news-thumb.__black
                    p.news-thumb__date 09.01
                    a.news-thumb__title(href="#") Рады вам сообщить, о том что состоялся  сотый показ спектакля «Она в отстутвии любви и смерти»

        .news
            .row
                .news-thumb
                    p.news-thumb__date 03.01
                    a.news-thumb__title(href="#") 24 февраля наши друзья из игры Ума Палата - Рига разыграли 2 билета на наш спектакль.

                .news-thumb
                    p.news-thumb__date 16.12
                    a.news-thumb__title(href="#") До весны полшага. До любви один вдох. Сделайте своим любимым женщинам подарок.

                .news-thumb
                    p.news-thumb__date 29.11
                    a.news-thumb__title(href="#") Знакомьтесь, у нас новые друзья. CityRiga.lv
        
                .news-thumb
                    p.news-thumb__date 03.01
                    a.news-thumb__title(href="#") Как протекает работа над сайтом, если это сайт арт-платформы.

                .news-thumb
                    p.news-thumb__date 16.12
                    a.news-thumb__title(href="#") Фотоотчет со дня открытых дверей в Stadia. 
