extends ./layouts/_inner.jade

block inner
    
    .row
        .page-title
            p Люди
    
    .row
        .people
            .row
                a.people-thumb(href="#")
                    span.people-thumb__image
                        img(src="http://placehold.it/200x200")
                    span.people-thumb__name Татьяна 
                    span.people-thumb__position Режиссер       

                a.people-thumb(href="#")
                    span.people-thumb__image
                        img(src="http://placehold.it/200x200")
                    span.people-thumb__name Андрей     
                    span.people-thumb__position Арт-директор

    .row
        .people  
            .row
                a.people-thumb(href="#")
                    span.people-thumb__image
                        img(src="http://placehold.it/200x200")
                    span.people-thumb__name Игорь           

                a.people-thumb(href="#")
                    span.people-thumb__image
                        img(src="http://placehold.it/200x200")
                    span.people-thumb__name Наталья   

                a.people-thumb(href="#")
                    span.people-thumb__image
                        img(src="http://placehold.it/200x200")
                    span.people-thumb__name Сергей  

                a.people-thumb(href="#")
                    span.people-thumb__image
                        img(src="http://placehold.it/200x200")
                    span.people-thumb__name Татьяна   

                a.people-thumb(href="#")
                    span.people-thumb__image
                        img(src="http://placehold.it/200x200")
                    span.people-thumb__name Артем   

                a.people-thumb(href="#")
                    span.people-thumb__image
                        img(src="http://placehold.it/200x200")
                    span.people-thumb__name Екатерина   

                a.people-thumb(href="#")
                    span.people-thumb__image
                        img(src="http://placehold.it/200x200")
                    span.people-thumb__name Любовь                           