extends ./layouts/_inner.jade

block vars
    - var videobg = '__videobg'

block inner
    
    .row
        .page-title
            p Люди

    
    .row
        .person
            video.person__video(loop muted autoplay src="http://www.stadia.lv/tmp/001.webm")   
            p.person__name Татьяна Черковская
            p.person__position Режиссер, основатель арт платформы    
            
