extends ./layouts/_inner.jade

block inner
    
    .row
        .page-title
            p Проекты

    .row
        .project
            p.project__title Она в отсутствии любви и смерти
                span Спектакль по пьесе Э. Радзинского

        .page-gallery
            img(src="http://www.stadia.lv/img/04.jpg")  

        .page-text 
            .raw
                p.
                    Она в отсутствии любви и смерти - одно из главных драматических произведений знаменитого писателя, драматурга, телеведущего и сценариста Эдварда Радзинского, которое было написано в 1979 году и стало культовой историей о любви для целого поколения. В постановке арт-платформы Stadia сюжет пьесы рассказан и показан нынешними 30-ти летними, которые говорят со сцены о времени, когда их родителям было чуть за 30. Новые времена - новые люди… И старые трагедии. 
    
    .row
        .project
            .row
                .project-roles
                    p.project-person__label В ролях
                    ul.project-person
                        li.project-person__item
                            a(href="#") Татьяна Батова
                        li.project-person__item
                            a(href="#") Артем Туманов
                        li.project-person__item
                            a(href="#") Наталья Константинова
                        li.project-person__item
                            a(href="#") Любовь Полуэктова
                        li.project-person__item
                            a(href="#") Екатерина Кудряшова
                        li.project-person__item
                            a(href="#") Сергей Сосновский
                        li.project-person__item
                            a(href="#") Игорь Наровский

                .project-roles
                    p.project-person__label Постановка
                    ul.project-person
                        li.project-person__item
                            a(href="#") А. Гаркави
                        li.project-person__item
                            a(href="#") Т. Черковская
                
                
                    p.project-person__label Звук
                    ul.project-person
                        li.project-person__item
                            a(href="#") Т. Черковская

                
                    p.project-person__label Свет
                    ul.project-person
                        li.project-person__item 
                            p Р. Зеневич        

        .project
            .raw
                p Продолжительность: 1ч. 50м. без антракта. В спектакле используются фрагменты музыкальных композиций группы Паперный ТАМ.         
    
    .row
        .page-split
            p Билеты 

    .row           
        .project
            .row
                .project-ticket
                    .project-ticket__time      
                        p 16.01
                        p 19:00
                    a.project-ticket__buy(href="#") Купить билет  
                
                .project-ticket
                    .project-ticket__time      
                        p 16.01
                        p 19:00
                    a.project-ticket__buy(href="#") Купить билет   

                .project-ticket
                    .project-ticket__time      
                        p 16.01
                        p 19:00
                    a.project-ticket__buy(href="#") Купить билет    

            
            .row 
                .col-md-6
                    .raw
                        p Продажа билетов осуществляется при помощи сервисса ticketshop.lv                

    .row
        .page-split
            p Публикации   

    
    .row
        .publications 
            .publication
                p.publication__source DELFI Showtime
                .publication__title
                    a(href="#") Она в отсутствии любви. В Рижском Малом театре - премьера спектакля по Радзинскому      

            .publication
                p.publication__source DELFI Showtime
                .publication__title
                    a(href="#") «Она в отсутствии любви и смерти» 

        .publications              
            .publication.__single
                p.publication__source DELFI Showtime
                .publication__title
                    a(href="#") Килобайт культуры: В Малом театре Риги играют Радзинского, опять про любовь!                  


