extends ./layouts/_inner.jade

block inner
    
    .row
        .page-title
            p Проекты
    
    .row
        .projects
            a.project-thumb(href="#")
                span.project-thumb__image
                    img(src="http://www.stadia.lv/img/01.jpg")
                span.project-thumb__content            
                    span.project-thumb__title 
                        span Открытый театр
                    span.project-thumb__description Каждый месяц в первый понедельник, двери нашего театра открыты для всех желающих.

            a.project-thumb(href="#")
                span.project-thumb__image
                    img(src="http://www.stadia.lv/img/02.jpg")
                span.project-thumb__content        
                    span.project-thumb__title 
                        span Спектакль «Она в отстутвии Лююбви и смерти»  
                    span.project-thumb__description
        .projects
            a.project-thumb.__large(href="#")
                span.project-thumb__image
                    img(src="http://www.stadia.lv/img/03.jpg")
                span.project-thumb__content        
                    span.project-thumb__title 
                        span Школа театрального искусства Stadia
                    span.project-thumb__description Открыт новый набор на обучение в вечернюю группу.
