footer.footer
    .container
        .row
            
            .footer-menu__column
                nav.footer-menu
                    p.footer-menu__header Торговля
                    a.footer-menu__item(href="#") Терминал

            .footer-menu__column
                nav.footer-menu
                    p.footer-menu__header Рынки
                    a.footer-menu__item(href="#") Торговые сессии
                    a.footer-menu__item(href="#") Календарь праздников
                    a.footer-menu__item(href="#") Экономический календарь

            .footer-menu__column
                nav.footer-menu
                    p.footer-menu__header Обучение
                    a.footer-menu__item(href="#") Как торговать
                    a.footer-menu__item(href="#") Каталог активов
                    a.footer-menu__item(href="#") Специальный курс
                    a.footer-menu__item(href="#") Академия
                    a.footer-menu__item(href="#") FAQ

            .footer-menu__column
                nav.footer-menu
                    p.footer-menu__header Банк
                    a.footer-menu__item(href="#") Платежные системы
                    a.footer-menu__item(href="#") Пополнение счета
                    a.footer-menu__item(href="#") Вывод средств  

            .footer-menu__column
                nav.footer-menu
                    p.footer-menu__header Акции
                    a.footer-menu__item(href="#") Предложение месяца
                    a.footer-menu__item(href="#") Страхование депозита
                    a.footer-menu__item(href="#") Конкурс трейдеров

            .footer-menu__column
                nav.footer-menu
                    p.footer-menu__header Бинариум
                    a.footer-menu__item(href="#") О компании
                    a.footer-menu__item(href="#") Типы счетов
                    a.footer-menu__item(href="#") Торговая комната
                    a.footer-menu__item(href="#") Клиентское соглашение
                    a.footer-menu__item(href="#") Партнерам
                    a.footer-menu__item(href="#") Контакты
                    a.footer-menu__item(href="#") Конфиденциальность   

    .container
      
        .footer-postfix
            .footer-logo
                a(href="#") Бинариум
            .footer-submenu 
                a.footer-submenu__item(href="#") Клиентское соглашение
                a.footer-submenu__item(href="#") Конфиденциальность

    .container

        .footer-attention
            p.footer-attention__title.
                Регулируется ЦРOФР — сертификат RU 0395 AA Vv0057
            p.footer-attention__body.
                Торговля бинарными опционами сопряжена с существенным риском потери капитала. Пожалуйста, внимательно ознакомьтесь с общими условиями торговли, представленными на нашем сайте, до осуществления любых инвестиций. Для получения более подробных сведений обращайтесь в службу поддержки клиентов.



