header.header._transparent
    .lang RU
        .lang-dropdown
            a(href="#") EN
            a(href="#") LV

    .container
        
        .header__cell
            a.header-logo Бинариум
   
        .header__cell.__menu
            nav.header-menu
                a.header-menu__item(href="#") Торговля
                a.header-menu__item(href="#") Рынки
                a.header-menu__item(href="#") Обучение
                a.header-menu__item(href="#") Банк
                a.header-menu__item(href="#") Акции
                a.header-menu__item._active(href="#") Бинариум

        .header__cell
            
            a.header-button(href="#" data-toggle="modal" data-target="#modal-signin") Войти

            a.header-button._green(href="#" data-toggle="modal" data-target="#modal-signup") Открыть счет







                



                    